.history {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;

    h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 10px;
    }
}
h2 {
    margin-left: 20px;
}

.Nav {
    margin-left: 20px;
    gap: 20px;
}

.active {
    color: orangered;
}